div.audio-pannel
	div.audio-display
		div.audio-icons
			div.play
		div.audio-bar
			div.audio-fill-cutter
				div.audio-fill-bar(style='left:-100%;')
			div.audio-bar-bg
		div.audio-time
	div.audio-title
