div.epg-details-name Discovery Channel Science
div.epg-details-text
	- if (noData === true)
		div.noData No EPG information
	- else 
		div.epg-details-info
			span.startTime!= startTime
			span.endTime!= endTime
		div.epg-details-title!= title