span.p(style='left:'+ leftOffset + 'px;width:' + widthByDuration + 'px;', data-index=epgRecordIndex)
	div.bordered(style='display: block; overflow: hidden; width:' + ( widthByDuration - 20 ) + 'px;')
		div!= progTitle
