span.p(style='left:'+ leftOffset + 'px;width:' + widthByDuration + 'px;', data-index=epgRecordIndex)
		div(style='display: table;width: 100%;height: 100%;')
			div.title-container
				div.title-holder(style='width:' + (widthByDuration - 3) + 'px; margin: auto;')!= progTitle
		div.title-background(style='width:' + (widthByDuration - 20) + 'px;')
