/*
This file implements the looks for the app selector in linear mode
*/

.screenChooserWrapper {
	width: 130px;
	position: absolute;
	top: 0;
	right: 0;
}
.screenChooser {
	z-index: 1000;
	overflow-y: auto;
	overflow-x: hidden;
	padding: 0 40px 0 0;
}
.screenChooser .screen {
	width: 155px;
	height: 90px;
	text-align: left;
}
.screen.iptv, .screen.ppv, .screen.vod, .screen.uservideo, .screen.radio, .screen.aod, .screen.youtube, .screen.uaudio, 
.screen.setup, .screen.games, .screen.phone, .screen.weather, .screen.weather, .screen-selector-pointer, .screen.welcome  {
	background-image: url('../imgs/icon_set.png');
	background-repeat: no-repeat;
}

/**
You should define you custom app icon here! The classname attached will be
the string defined as apptag in the listing
*/
.screenChooser .screen.welcome{
	background-position: right -605px;
}
.screenChooser .screen.iptv {
	background-position: right -4px;
}
.screenChooser .screen.ppv {
	background-position: right -104px;
}
.screenChooser .screen.vod {
	background-position: right -205px;
}
.screenChooser .screen.uservideo {
	background-position: right -307px;
}
.screenChooser .screen.radio {
	background-position: right -407px;
}
.screenChooser .screen.aod {
	background-position: right -507px;
}
.screenChooser .screen.youtube{
	background-position: right -1206px;
}
.screenChooser .screen.uaudio {
	background-position: right -609px;
}
.screenChooser .screen.setup {
	background-position: right -707px;
}
.screenChooser .screen.games {
	background-position: right -808px;
}
.screenChooser .screen.phone {
	background-position: right -908px;
}
.screenChooser .screen.weather {
	background-position: right -1110px;
}

/**
The 'glower' indicating the active app in the selector
*/
.screen-selector-pointer {
    background-position: left -997px;
    height: 113px;
    position: fixed;
    right: 12px;
    top: 167px;
    width: 173px;
    z-index: 2000;
}

/*.text-baloon::after {*/
/*content: "";*/
/*position: relative;*/
/*bottom: auto;*/
/*left: auto;*/
/*border-width: 15px 0 0 40px;*/
/*border-style: solid;*/
/*display: block;*/
/*width: 0;*/
/*border-color: transparent hsl(204, 62%, 44%);*/
/*top: -140px;*/
/*right: -350px;*/
/*}*/

.text-baloon {
padding: 15px;
color: white;
background: hsl(207, 91%, 31%);
background: -webkit-gradient(linear, 0 0, 0 100%, from(hsl(204, 62%, 47%)), to(hsl(207, 91%, 31%)));
background: -moz-linear-gradient(hsl(204, 62%, 47%), hsl(207, 91%, 31%));
background: -o-linear-gradient(hsl(204, 62%, 47%), hsl(207, 91%, 31%));
background: linear-gradient(hsl(204, 62%, 47%), hsl(207, 91%, 31%));
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
width: 340px;
font-size: 18px;
/*margin-top: 120px;*/
}
