/*
This file implements the looks for the app selector in linear mode
*/

.screenChooserWrapper {
	width: 130px;
	position: absolute;
	top: 0;
	right: 0;
}
.screenChooser {
	z-index: 1000;
	overflow-y: auto;
	overflow-x: hidden;
	padding: 0 40px 0 0;
}
.screenChooser .screen {
	width: 155px;
	height: 90px;
	text-align: left;
}
.screen.iptv, .screen.ppv, .screen.vod, .screen.uservideo, .screen.radio, .screen.aod, .screen.youtube, .screen.uaudio, 
.screen.setup, .screen.games, .screen.phone, .screen.weather, .screen.weather, .screen-selector-pointer {
	background-image: url('../imgs/icon_set.png');
	background-repeat: no-repeat;
}

/**
You should define you custom app icon here! The classname attached will be
the string defined as apptag in the listing
*/
.screenChooser .screen.iptv {
	background-position: right -4px;
}
.screenChooser .screen.ppv {
	background-position: right -104px;
}
.screenChooser .screen.vod {
	background-position: right -205px;
}
.screenChooser .screen.uservideo {
	background-position: right -307px;
}
.screenChooser .screen.radio {
	background-position: right -407px;
}
.screenChooser .screen.aod {
	background-position: right -507px;
}
.screenChooser .screen.youtube{
	background-position: right -1206px;
}
.screenChooser .screen.uaudio {
	background-position: right -609px;
}
.screenChooser .screen.setup {
	background-position: right -707px;
}
.screenChooser .screen.games {
	background-position: right -808px;
}
.screenChooser .screen.phone {
	background-position: right -908px;
}
.screenChooser .screen.weather {
	background-position: right -1110px;
}

/**
The 'glower' indicating the active app in the selector
*/
.screen-selector-pointer {
    background-position: left -997px;
    height: 113px;
    position: fixed;
    right: 12px;
    top: 167px;
    width: 173px;
    z-index: 2000;
}