/*TODO: Make the epg listing look better in general, better indication of current item*/
.epgwrapper {
	text-align: left;
	position: absolute;
	top: 0;
	left: 0;
	display: -moz-box;
	-moz-box-pack: start;
	-moz-box-align: center;
	display: -webkit-box;
	-webkit-box-pack: start;
	-webkit-box-align: center;
	display: box;
	box-pack: start;
	box-align: center;
	vertical-align: middle;
}

@media all and (min-width: 1281px) {
	.epg {
		font-size: 20px;
	}
	.epg .header .channelTitle {
		width: 85%;
	}
}

@media all and (min-width: 701px) and (max-width: 1280px) {
	.epg {
		font-size: 16px;
	}
	.epg .header .channelTitle {
		width: 78%;
	}
}

@media all and (max-width: 700px) {
	.epg {
		font-size: 11px;
	}
	.epg .header .channelTitle {
		width: 70%;
	}
}

.epg {
	width: 100%;
	height: 100%;
	color: white;
	background-color: #1A1A1A;
	position: relative;
}
.epg .active {
	background-color: #595b69;
}
.epg .header {
	width: 100%;
	height: 70px;
	vertical-align: middle;
	padding: 10px;
	position: relative;
}
.epg .header .screenImg {
	height: 70px;
	margin: 1px;
	float: left;
	text-align: center;
}
.epg .header .screenImg img {
	height: 70px;
	margin: 0 auto;
}
.epg .header .channelTitle {
	display: inline-block;
	height: 70px;
	font-size: 200%;
	text-align: left;
	line-height: 70px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	width: 61%;
	margin-left: 25px;
}
.epg .epgProgram {
	overflow-x: hidden;
	overflow-y: auto;
	position:relative;
}
.epg .epgProgram .epgLoading {
	text-align: center;
}
.epg .epgProgram .epgItem {
	width: 100%;
	font-size: 110%;
	border-bottom: 2px solid #3E5170;
	padding: 8px;
	clear: both;
	background-color:#111;
}
.epg .epgProgram .epgItem .epgItemTime {
	width: 18%;
	font-size: 110%;
	padding: 5px;
	display: inline-block;
	border-right: solid #38B 2px;
	border-radius: 2px;
}
.epg .epgProgram .epgItem .epgItemTitle {
	display: inline-block;
	font-size: 150%;
	margin-left: 22px;
	width: 75%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	margin-bottom: 6px;
}
.epg .epg-currently-playing {
	background-color: #595b69;
}
.epg .epg-selected {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(198, 222, 255, 1)), color-stop(3%,rgba(104, 151, 221, 1)), color-stop(10%,rgba(21, 74, 153, 1)), color-stop(50%,rgba(0, 0, 0, 1)), color-stop(82%,rgba(0, 0, 0, 1)), color-stop(98%,rgba(104, 151, 221, 1)), color-stop(100%,rgba(198, 222, 255, 1)));
}
.epg .no-epg-available {
	margin: 17% auto;
	border: 2px solid #3E6EBB;
	border-radius: 4px;
	color: white;
	font-weight: inherit;
	padding: 4% 14%;
	text-align: center;
	font-size: 135%;
	width: 55%;
}

/* FOR NEW EPG */
.epgrow {
	background: black;
	width: 640px;
	height: 70px;
	position: absolute;
	top:0;
	left:0;
	overflow: hidden;
/*	-webkit-transition: -webkit-transform 0.3s;*/
}
/*
.epgrow.active {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(167,181,204,1)), color-stop(4%,rgba(14,49,102,1)), color-stop(54%,rgba(0,0,0,1)), color-stop(97%,rgba(0,0,0,1)), color-stop(100%,rgba(124,140,165,1)));
}*/
.epgrow .prog {
	position: relative;
	top:0;
	left:0;
	height: 70px;
	width: 1440px;
}
.epgrow .prog .p {
	display: inline-block;
	height: 70px;
	position: absolute;
}
.title-holder {
	color: white;
	text-align: center;
	width: 96%;
	overflow: hidden;
}
.title-background {
	position: absolute;
	top: 0;
	left: 0;
	background: #264C73;
	width: 96%;
	height: 95%;
	z-index: -1;
	border: 2px solid black;
	border-radius: 5px;
}
.title-container {
	display: table-cell;
	height: 100%;
	width: 100%;
	vertical-align: middle;
}
.epgrow .prog .p.active .title-background {
	border: 2px solid #B3D1FE;
	background: #114F8D;
}
.epgrow.active .title {
	background: url(../imgs/epg-active.png);
}
.epgrow .title {
	position: relative;
	top:-70px;
	left:0;
	width:140px;
	height: 70px;
	border-right: 1px solid #364C63;
	background: black;
	background: url(../imgs/epg-inactive.png);
	overflow: hidden;
}
.epgrow .title div {
	text-align: center;
	height: 70px;
	border-bottom: 1px solid #364C63;
	width: 80%;
	position: relative;
	font-weight: bold;
	margin: auto;
	line-height: 5.2;
}
.epgrow .title .imgcont img {
	height: 90%;
	width: 60%;
	vertical-align: middle;
	border-radius: 4px;
}
.epg-details {
	background: black;
	border-bottom: 1px solid #364C63;
	display: table;
}
.epg-details-logo {
	background: url(http://192.168.0.11/imgs/btv_logo_b.gif) no-repeat;
	height: 80px;
	width: 160px;
	position: fixed;
	top: 10px;
	background-size: contain;
	background-position: 50%;
	margin-left: 7px;
}
.epg-details-text {
	text-align: center;
	position: relative;
	padding: 0px 20px 0px 190px;
	display: table-cell;
	vertical-align: middle;
}
.epgrow .channel-settings-icons {
	left: 110px;
	list-style-type: none;
	position: absolute;
	bottom: 0px;
	/*border-bottom: 1px solid #364C63;*/
	width: 30px;
	padding-bottom: 6px;
	z-index: 1;
}
.epgrow .title .channel-name {
	width: 140px;
	height: 33px;
	background: rgba(1, 1, 1, 0.6);
	position: absolute;
	bottom: -38px;
	-webkit-transition: all 850ms;
	left: 0px;
	text-align: center;
	font-weight: bold;
	line-height: 2;
}
.epgrow.active .channel-name {
	bottom: 0px;
	z-index: 2;
}
.icon {
	/*background-color: #596876;*/
    background-position: center center;
    background-repeat: no-repeat;
    height: 20px;
    margin-right: 1px;
    width: 20px;
    float: left; 
}
.bookmarked {
	background-image: url("../imgs/icon_favorite.png");
}
.recordable {
	background-image: url("../imgs/icon_recording.png");
}
.locked {
	background-image: url("../imgs/icon_lock.png");
}
.epgrow.active .title {
	background-color: black;
}
.paid {
	background-image: url('../imgs/icon_dollar.png');
}
.timeline {
	height: 20px;
	width: 1440px;
	left: 0;
	background-color: hsl(210, 40%, 15%);
	position: absolute;
}
.anhour {
	display: inline-block;
	border-left: 2px solid hsla(0, 0%, 100%, 0.5);
	height: 100%;
	padding: 0 0px 0 7px;
	line-height: 1.6;
}