.tui-nflist-container {
	top: 0;
	left: 0;
	position: absolute;
	z-index: 1000;
	
}
.tui-vertical-transition-container {
	position: relative;
}
.tui-nflist-item {
	position: absolute;
	top: 0;
	left: 0;
	height: 50px;
	background-color: green;
/*	-webkit-transition: -webkit-transform 0.3s;*/
}
.tui-nflist-item.active {
	background-color: red;
	
}
