
.tui-keyboard {
	text-align: center;
	height: 169px;
}

/*#vkbd {*/
/*	opacity: 0.8;*/
/*	position: fixed;*/
/*	top: -500px;*/
/*    width: 460px;*/
/*    height: 225px;*/
/*    margin: 0 auto 0;*/
/*    padding: 3px;*/
/*    background-color: rgba(0,0,0,0.93);*/
/*    -moz-border-radius: 0 0 8px 8px;*/
/*    -webkit-border-radius: 0 0 8px 8px;*/
/*    border-radius: 0 0 8px 8px;*/
/*}*/
/*#vkbd.shown {*/
/*	top: 0;*/
/*	*/
/*	 * -webkit-transition-duration: 300ms;*/
/*	 */
/*}*/
    
.tui-keyboard .kbdrow {
    list-style: none;   
}
.tui-keyboard > ul {
/*	margin: 0;*/
	padding: 0;
}
.tui-keyboard .ul0 {
	margin-left: 15px;
}
.tui-keyboard .ul1 {
    margin-left: 30px;
}
.tui-keyboard .ul2 {
    margin-left: 15px;
}
.tui-keyboard .ul3 {
    margin-left: 15px;
}
.tui-keyboard .ul4 {
    margin-left: 45px;
}
.tui-keyboard .kbdrow li {
    border-radius: 3px;
	width: 23px;
	height: 20px;
	display: block;
	cursor: pointer;
	margin: 3px;
	float: left;
	padding-top: 3px;
	text-align: center;
	color: #92B3E7;
	border: 1px solid #3E5170;
	font-weight: bold;
}
.tui-keyboard .kbdrow li.smallwidekey {
    width: 54px;
}
.tui-keyboard .kbdrow li.widekey {
    width: 84px;
}
.tui-keyboard .kbdrow li.spacek {
    width: 143px;
}
.tui-keyboard .kbdrow li.activekey {
	color: #E4EDFB;
	background: #002757;
	border: 1px solid #AEC9F4;
}
